/* HERO VIDEO STYLE */

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

/* FONT STYLE */

h1 {
    font-size: 35px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: black;
  line-height: 50px;
}

h3 {
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  color: rgb(202, 202, 202);
  font-weight: 400;
}

h4 {
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    color: rgb(128, 128, 128);
    font-weight: 400;
    line-height: 35px;
}

h5 {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  color:white;
  font-weight: 400;
}

h5 {
  font-size: 13px;
  font-family: 'Nunito', sans-serif;
  color: rgb(209, 209, 209);
  font-weight: 400;
}

/* HEADER */

.black-bg {
  background: black;
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 1080px;
  /* same height as jumbotron */
  top: 0;
  left: 0;
  z-index: -5;
}

.navbar-toggler {
  border: black;
  /* background: transparent; */
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("images/bar-solid.png");
}

.bg-main-home {
    background: url("images/home-hero-image.png") no-repeat center top;
    opacity: 0.8;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 1080px;
    /* same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -5;
  }

.jumbotron {
    margin-bottom: 50px;
    height: 1080px;
    padding: 20px 0px 20px 0px;
    background: transparent;
    color: white;
}

.parallax {
  /* The image used */
  background-image: url("images/home-hero-image-1.png");

  /* Set a specific height same hight as jumbotron*/
  height: 1080px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Background position */
  opacity: 0.8;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -5;
}

/* NAVBAR STYLE */

.navbar-brand img {
  width: 105px;
  height: 105px;
}

.navbar {
  background-color: transparent;
  margin: 0px 0px 0px 0px;
  padding: 30px 60px 10px 60px;
}

/* BUTTON STYLE */

.alignright {
  float: right;
}


.btn-link {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 3px;
    padding: 8px 25px 8px 25px;
}

.btn-link:hover {
  color: #EC1668;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 8px 25px 8px 25px;
}

.btn-link:active {
  color: #EC1668;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 8px 25px 8px 25px;
}

.btn-donation {
    color: white;
    background-color: #EC1668;
    padding: 8px 15px 8px 15px;
    border: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 10px 0px 35px;
    font-weight: 700;
}

.btn-donation:hover {
  color: white;
  background-color: rgb(230, 103, 152);
  padding: 8px 15px 8px 15px;
  border: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0px 10px 0px 35px;
  font-weight: 700;
}

.btn-learn-more {
  color: white;
  background-color: #EC1668;
  padding: 8px 30px 8px 30px;
  border: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 40px;
  font-weight: 700;
}

.btn-learn-more:hover {
  color: white;
  background-color: rgb(230, 103, 152);
  padding: 8px 30px 8px 30px;
  border: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 40px;
  font-weight: 700;
}

.btn-learn-more-instagram {
  color: white;
  background-color: #EC1668;
  padding: 8px 30px 8px 30px;
  border: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 40px;
  font-weight: 700;
}

.btn-learn-more-instagram:hover {
  color: white;
  background-color: rgb(230, 103, 152);
  padding: 8px 30px 8px 30px;
  border: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 40px;
  font-weight: 700;
}

.nav-search {
    margin: 10px 0px 0px 35px;
    display: inline-block;
    color: white;
    font-size: 20px;
}

.nav-search:hover {
  margin: 10px 0px 0px 35px;
  display: inline-block;
  color: rgb(230, 103, 152);
  font-size: 20px;
  cursor: pointer;
}

.large-header {
    text-align: center;
    margin: 150px 0px 0px 0px;
}

.large-header i {
  margin: 130px 0px 0px 0px;
  font-size: 30px;
  color: white;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-11 19:50:49
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

.slide-bottom {
	-webkit-animation: slide-bottom 1.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 1.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* OUR MISSION STYLE */

.our-mission {
  margin: 80px 0px 80px 0px;
}

.our-mission h2 {
  font-size: 35px;
}

.our-mission h4 {
  font-size: 18px;
}


/* JOIN A OR START A TEAM STYLE */

.join-start {
  background-image: url("images/join-team-image.png");
  height: 420px;
  width: 100%;
  background-size: cover;
}

.join-start-row {
  padding: 75px 0px 35px 0px;
}

.join-start-row h2 {
  font-size: 35px;
}

.join-start-row h4 { 
  font-size: 18px;
}

/* SOCIAL MEDIA STYLE */

.social-media {
  background-color: #EFEFEF;
  height: 750px;
  width: 100%;
  background-size: cover;
}


.social-media-row {
  padding: 70px 0px 0px 0px;
}

.social-media-row h2 { 
  line-height: 30px;
  font-size: 35px;
}

.social-media-row h4 { 
  line-height: 30px;
  font-size: 18px;
}

.instagram {
  margin: 0px 17px 30px 17px;
}


/* OUR IMPACT */

.our-impact {
  background-image: url("images/our-impact-image.png");
  height: 380px;
  width: 100%;
  background-size: cover;
}

.our-impact-row h2 {
  padding: 90px 0px 40px 0px;
  font-size: 35px;
}

#our-impact-h2 {
  color: #EC1668;
  font-size: 28px;
  font-family: 'Nunito', sans-serif;
}

#our-impact-h4-1 {
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  text-align: left;
  margin: 0px 0px 0px 50px;
}

#our-impact-h4-2 {
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  text-align: left;
  margin: 0px 0px 0px 30px;
}

#our-impact-h4-3 {
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  text-align: left;
  margin: 0px 0px 0px 37px;
}

#our-impact-h4-4 {
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  text-align: left;
  margin: 0px 0px 0px 38px;
}

/* SUPPORT STYLE */

.card-deck {
  justify-content: center;
}

.card-title {
  margin-bottom: 20px;
}

.support-card {
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.342) ;
  margin: 0px 30px 80px 30px;
  background: #F1F1F1;
  height: 500px;
}

#support-text {
  text-align: left;
  padding: 0px 0px 10px 15px;
}

.card h2 {
  line-height: 30px;
}

.card h4 {
  line-height: 30px;
}

.support-row {
  padding: 80px 0px 50px 0px;
}

.support-row h2 { 
  line-height: 30px;
  font-size: 35px;
}

.support-row h4 { 
  line-height: 30px;
  font-size: 18px;
}

.support-card img {
  margin: 30px 0px 0px 33px;
  border: none;
}

.btn-support {
  color: white;
  background-color: #EC1668;
  padding: 8px 40px 8px 40px;
  border: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  font-weight: 700;
}

.btn-support:hover {
  color: white;
  background-color: rgb(230, 103, 152);
  padding: 8px 40px 8px 40px;
  border: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  font-weight: 700;
}

/* TESTIMONIALS */

.testimonial {
  background-image: url("images/testimonials/testimonial-background.png");
  height: 1000px;
  width: 100%;
  background-size: cover;
  padding: 50px 0px 0px 0px;
}

.testimonial-row {
  padding: 70px 0px 10px 40px;
}

.testimonial-card {
  border: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.24) ;
  height: 230px;
}

.testimonial-card img {
  margin: 40px 0px 20px 40px;
}

.testimonial-card-bottom {
  border: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.24) ;
  height: 375px;
}

.testimonial-card-bottom img {
  margin: 40px 0px 20px 40px;
}

.testimonial-card-body {
  margin: 0px 3px 0px 3px;
}

.testimonial-text-wrap h2 {
  font-size: 35px;
}

.testimonial-text-wrap h4 {
  font-size: 18px;
}

.testimonial-card-body h4 {
  color: black;
}

.testimonial-card-wrap h4 {
  display: block;
}

.testimonial-text-wrap {
  padding: 40px 0px 0px 0px;
}

/* SPONSOR STYLE */

.sponsor-row {
  padding: 80px 0px 20px 0px;
}

.sponsor img {
  margin: 50px 20px 80px 20px;
}

.sponsor h2 {
  font-size: 35px;
}

/* PARTNER STYLE */

.partner-row {
  padding: 70px 0px 20px 0px;
}

.partner img {
  margin: 50px 20px 20px 20px;
}

.partner h2 {
  font-size: 35px;
}

.partner {
  margin-bottom: 80px;
}

/* FOOTER */

.footer {
  background-image: linear-gradient(#A5D9C9, #52B697);
  padding: 50px 0px 60px 0px;
}

.footer h4 {
  color: black;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.footer h4:hover {
  color: #EC1668;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.btn-outline-success {
  color: white;
  background-color: #EC1668;
}

.btn-outline-success:hover {
  color: white;
  background-color: rgb(230, 103, 152);
}

.footer h2 {
  padding: 0px 0px 0px 60px;
  text-align: left;
  }
  
  #newsletter {
    color: #575757;
    padding: 0px 0px 20px 60px;
    text-align: left;
  }
  
  .form-inline {
  padding: 20px 0px 0px 60px;
  }

  .form-group {
    margin: 0px 0px 0px 60px;
  }

  .btn-learn-more-submit {
    color: white;
    background-color: #EC1668;
    padding: 8px 30px 8px 30px;
    border: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0px 0px 0px;
    font-weight: 700;
  }

  .btn-learn-more-submit:hover {
    color: white;
    background-color: rgb(230, 103, 152);
    padding: 8px 30px 8px 30px;
    border: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0px 0px 0px;
    font-weight: 700;
  }

  .btn-footer-donate {
    color: white;
    background-color: #EC1668;
    padding: 8px 50px 8px 50px;
    border: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    font-weight: 700;
  }
  
  .btn-footer-donate:hover {
    color: white;
    background-color: rgb(230, 103, 152);
    padding: 8px 50px 8px 50px;
    border: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    font-weight: 700;
  }
  

.btn-footer-startateam {
  color: white;
  background-color: #EC1668;
  padding: 8px 37px 8px 37px;
  border: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  font-weight: 700;
}

.btn-footer-startateam:hover {
  color: white;
  background-color: rgb(230, 103, 152);
  padding: 8px 37px 8px 37px;
  border: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  font-weight: 700;
}

.nav-copyright {
  color: black;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 0px 0px 0px;
}

#social-icon {
  color: #EC1668;
  font-size: 20px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}

#social-icon:hover {
  color: rgb(230, 103, 152);
  font-size: 20px;
  margin: 0px 10px 0px 10px;
}

.container .footer-copyright {
  padding: 80px 0px 0px 0px;
}















/* MEDIA QUERIES */

/* Medium devices (mobile, 768px and up) */
@media (max-width: 768px) {

  /* BACKGROUND HERO IMAGE */

  .jumbotron {
    height: 667px;
  }
  
  .parallax {
    height: 667px;
  }
  
  .black-bg {
    height: 667px;
  }

/* BACKGROUND HERO VIDEO */

  header {
    height: 667px;
  }
  
  header video {
    min-width: 100%;
    height: 667px;
  }

/* NAVBAR */

  .navbar-brand img {
    width: 45px;
    height: 45px;
  }

  .navbar {
    background-color: white;
    margin: -20px 0px 0px 0px;
    padding: 30px 30px 10px 40px;

  }
  
  .btn-link {
    padding: 15px 0px 15px 0px;
    margin-left: 10px;
    color: black;
  }

  .btn-link:hover {
    padding: 15px 0px 15px 0px;
    margin-left: 10px;
  }

  .btn-donation {
    margin: 15px 0px 15px 10px;
    color: white;
  }

  .btn-donation:hover {
    margin: 15px 0px 15px 10px;
  }

  .navbar-nav i {
    color: black;
    margin: 20px 0px 20px 10px
  }

  .navbar-nav i:hover {
    margin: 20px 0px 20px 10px
  }

  /* HEADER */

  .large-header h1 {
    font-size: 28px;
    margin: 0px 0px 0px 0px;
  }

  .large-header h3 {
    font-size: 16px;
  }

  .large-header i {
    margin-top: 130px;
    font-size: 30px;
  }
 
  /* OUR MISSION */
  
  .our-mission {
    margin: 60px 0px 60px 0px;
    padding: 10px 0px 10px 0px;
  }
  
  .our-mission h4 {
    margin: 0px 0px -10px 10px;
  }

  .our-mission h2 {
    font-size: 35px;
    margin: 0px 0px 10px 10px;
    text-align: center;
  }
  
  .our-mission h4 {
    font-size: 16px;
  }

  .embed-responsive {
    margin: 50px 0px 0px 0px;
  }

  .btn-learn-more {
    margin: 40px 0px 0px 105px;
  }

  .btn-learn-more: hover {
    margin: 40px 0px 0px 105px;
  }

  .btn-learn-more-instagram {
    margin: 40px 0px 0px 0px;
  }

  .btn-learn-more-instagram: hover {
    margin: 40px 0px 0px 0px;
  }


  /* JOIN OR START A TEAM */

  .join-start {
    height: 800px;
  }

  .join-start-row img{
    margin: 0px 0px 20px 10px;
  }  

  .join-start h2 {
    margin: 0px 0px 10px 10px;
    text-align: center;
  }

  .join-start h4 {
    margin: 0px 0px 0px 10px;
  }



  /* JOIN OR START A TEAM */
  .social-media {
    height: 1200px;
  }
  
  .social-media-row h4 {
    margin: 0px 5px -20px 5px;
    text-align: center;
    line-height: 35px;
  }

  .social-media-row h2 {
    margin: 0px 10px 10px 10px;
    text-align: center;
    line-height: 45px;
  }

  .social-media-row img {
    margin: 10px 0px 10px 0px;
  }


  #instagram-9 {
    display: none;
  }

  #instagram-10 {
    display: none;
  }

  /* OUR IMPACT */

  .our-impact {
    height: 460px;
  }  

  .our-impact-row {
    margin-bottom: -20px;
  }

  #our-impact-h2 {
    font-size: 24px;
    text-align: right;
    margin-right: 235px;
  }
  
  #our-impact-h4-1 {
    font-size: 14px;
    margin: -225px 0px 0px 200px;
    /* padding-left: 3px; */
    text-align: left;
  }

  #our-impact-h4-2 {
    font-size: 14px;
    margin: -170px 0px 0px 200px;
    /* padding-left: 3px; */
    text-align: left;
  }

  #our-impact-h4-3 {
    font-size: 14px;
    margin: -110px 0px 0px 200px;
    /* padding-left: 3px; */
    line-height: 20px;
    text-align: left;
  }

  #our-impact-h4-4 {
    font-size: 14px;
    margin: -50px 0px 0px 200px;
    /* padding-left: 3px; */
    line-height: 20px;
    text-align: left;
  }

  /* SUPPORT */

  .support-row {
    margin: -5px 0px -10px 0px;
  }

  .support-card {
    margin: 0px 0px 50px 0px;
  }

  .support-row h2 {
    line-height: 50px;
  }

/* TESTIMONIALS */

.testimonial {
  height: 1950px;
  margin-top: -20px;
}

#testimonial-row {
  margin-top: -50px;
}

.testimonial-row {
  padding: 30px 0px 20px 40px;
}

.testimonial-card {
  height: 200px;
}

.testimonial-card img {
  max-width: 125px;
  max-height: 35px;
  margin: 30px 0px 20px 30px;
}

.testimonial-card-bottom {
  border: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.24) ;
  height: 330px;
}

.testimonial-card-bottom img {
  max-width: 125px;
  max-height: 35px;
  margin: 30px 0px 20px 30px;
}

.testimonial-card-body {
  margin: 0px 3px 0px 5px;
}

.testimonial-text-wrap h2 {
  font-size: 35px;
}

.testimonial-text-wrap h4 {
  font-size: 18px;
}

.testimonial-card-body h4 {
  color: black;
  font-size: 16px;
}

.testimonial-card-wrap h4 {
  display: block;
}

.testimonial-text-wrap {
  padding: 40px 0px 0px 0px;
}

.testimonial-row {
  margin-left: -50px;
}

/* SPONSORS */

.card-img-top-sponsors {
  max-width: 50px;
  max-height: 15px;
}

.sponsor img {
  margin: 30px 15px 20px 15px;
}

/* PARTNERS */

.card-img-top-partners {
  max-width: 30px;
  max-height: 15px;
}

.partner img {
  margin: 30px 8px 20px 8px;
}


/* FOOTER */

.footer img {
  width: 75px;
  height: 75px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.footer {
  padding: 50px 0px 60px 0px;
}

.footer h4 {
  font-size: 14px;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

.footer h4:hover {
  font-size: 14px;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

#newsletter {
  color: #575757;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.btn-footer-donate {
  /* padding: 8px 32px 8px 32px;
  margin: 40px 40px 0px 0px; */
  font-size: 12px;
}

.btn-footer-donate:hover {
  /* padding: 8px 32px 8px 32px;
  margin: 40px 40px 0px 0px; */
  font-size: 12px;
}

.btn-footer-startateam {
  /* padding: 8px 16px 8px 16px;
  margin: 40px 40px 0px 0px; */
  font-size: 12px;
}

.btn-footer-startateam:hover {
  /* padding: 8px 16px 8px 16px;
  margin: 40px 40px 0px 0px; */
  font-size: 12px;
}


.footer-copyright a {
  font-size: 14px;
}

.nav-copyright {
  color: black;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 0px 0px 0px;
}

#social-icon {
  color: #EC1668;
  font-size: 20px;
  margin: 20px 10px 0px 10px;
  cursor: pointer;
}

#social-icon:hover {
  color: rgb(230, 103, 152);
  font-size: 20px;
  margin: 20px 10px 0px 10px;
}

.container .footer-copyright {
  padding: 80px 0px 0px 0px;
}

.footer h2 {
  padding: 20px 0px 0px 0px;
  text-align: center;
}

#newsletter {
  padding: 0px 0px 0px 0px;
}

.form-inline {
  padding: 20px 0px 0px 0px;
}

.nav-copyright {
  font-size: 12px;
}

.form-group {
  margin: 0px 20px 0px 20px;
}

.btn-learn-more-submit {
  font-size: 14px;
  margin: 20px 0px 100px 0px;
}

.btn-learn-more-submit:hover {
  font-size: 14px;
  margin: 20px 0px 100px 0px;
}

















/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

/* BACKGROUND HERO IMAGE */

.jumbotron {
  height: 667px;
}

.parallax {
  height: 667px;
}

.black-bg {
  height: 667px;
}

/* BACKGROUND HERO VIDEO */

header {
  height: 1024px;
}

header video {
  min-width: 100%;
  height: 1024px;
}


/* NAVBAR */

.navbar-brand img {
  width: 65px;
  height: 65px;
}
.navbar {
  background-color: white;
  margin: -20px 0px 0px 0px;
  padding: 30px 60px 10px 60px;
}

.btn-link {
  padding: 15px 0px 15px 0px;
  margin-left: 10px;
  color: black;
}

.btn-link:hover {
  padding: 15px 0px 15px 0px;
  margin-left: 10px;
}

.btn-donation {
  margin: 15px 0px 15px 10px;
  color: white;
}

.btn-donation:hover {
  margin: 15px 0px 15px 10px;
}

.navbar-nav i {
  color: black;
  margin: 20px 0px 20px 10px
}

/* HEADER */

.large-header h1 {
  font-size: 30px;
}

.large-header h3 {
  font-size: 18px
}

.large-header {
  text-align: center;
  margin: 280px 0px 0px 0px;
}

.large-header i {
  margin: 250px 0px 0px 0px;
  font-size: 30px;
}

/* OUR MISSION */

.our-mission {
  margin: 50px 0px 50px 0px;
  padding: 10px 0px 10px 0px;
}

.our-mission h4 {
  margin: 0px 0px -10px 0px;
  text-align: left;
  font-size: 16px;
}

.our-mission h2 {
  font-size: 35px;
  text-align: left;
  margin: 0px 0px 15px -3px;
}

.btn-learn-more {
  margin: 40px 0px 0px 0px;
}

.btn-learn-more:hover {
  margin: 40px 0px 0px 0px;
}

.btn-learn-more-instagram {
  margin: 40px 0px 0px 0px;
}

.btn-learn-more-instagram:hover {
  margin: 40px 0px 0px 0px;
}

/* JOIN OR START A TEAM */

.join-start {
  height: 480px;
}

/* JOIN OR START A TEAM */
.social-media {
  height: 950px;
}

.join-start-row h2 {
  text-align: left;
}

#instagram-9 {
  display: inline-block;
}

#instagram-10 {
  display: none;
}

/* OUR IMPACT */

.our-impact {
  height: 320px;
}

#our-impact-h2 {
  font-size: 24px;
  margin: 0px 0px 0px -15px;
  text-align: center;
}

#our-impact-h4-1 {
  font-size: 14px;
  margin: 0px 0px 0px 28px;
  /* padding-left: 3px; */
}

#our-impact-h4-2 {
  font-size: 14px;
  margin: 0px 0px 0px 3px;
  /* padding-left: 3px; */
}

#our-impact-h4-3 {
  font-size: 14px;
  margin: 0px 0px 0px 5px;
  /* padding-left: 3px; */
}

#our-impact-h4-4 {
  font-size: 14px;
  margin: 0px 0px 0px -6px;
  /* padding-left: 3px; */
}

/* SUPPORT */

.support-row {
  margin: -5px 0px-5px 0px;
}

.support-card {
  margin: 0px 0px 50px 145px;
}


/* TESTIMONIALS */

.testimonial {
height: 1200px;
}

.testimonial-row {
padding: 50px 0px 70px 40px;
}

.testimonial-card {
height: 260px;
}

.testimonial-card img {
max-width: 125px;
max-height: 35px;
margin: 30px 0px 20px 30px;
}

.testimonial-card-bottom {
border: none;
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.24) ;
height: 590px;
}

.testimonial-card-bottom img {
max-width: 125px;
max-height: 35px;
margin: 30px 0px 20px 30px;
}

.testimonial-card-body {
margin: 0px 3px 0px 5px;
}

.testimonial-text-wrap h2 {
font-size: 35px;
}

.testimonial-text-wrap h4 {
font-size: 18px;
}

.testimonial-card-body h4 {
color: black;
font-size: 16px;
}

.testimonial-card-wrap h4 {
display: block;
}

.testimonial-text-wrap {
padding: 40px 0px 0px 0px;
}

.testimonial-row {
margin-left: -30px;
}

/* SPONSORS */

.card-img-top-sponsors {
max-width: 110px;
max-height: 25px;
}

.sponsor img {
margin: 30px 15px 20px 15px;
}

/* PARTNERS */

.card-img-top-partners {
max-width: 60px;
max-height: 30px;
}

.partner img {
margin: 30px 15px 20px 15px;
}

/* FOOTER */

.footer {
padding: 50px 0px 50px 0px;
}

.footer h4 {
font-size: 12px;
padding: 10px 0px 10px 0px;
}

.footer h4:hover {
font-size: 12px;
padding: 10px 0px 10px 0px;
}

.btn-footer-donate {
padding: 8px 32px 8px 32px;
font-size: 12px;
}

.btn-footer-donate:hover {
padding: 8px 32px 8px 32px;
font-size: 12px;
}

.btn-footer-startateam {
padding: 8px 20px 8px 20px;
font-size: 12px;
}

.btn-footer-startateam:hover {
padding: 8px 32px 8px 32px;
font-size: 12px;
}

.nav-copyright {
  color: black;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 0px 20px 0px;
}

#social-icon {
  color: #EC1668;
  font-size: 20px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}

#social-icon:hover {
  color: rgb(230, 103, 152);
  font-size: 20px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}

.container .footer-copyright {
padding: 0px 0px 0px 0px;
}

.footer h2 {
padding: 0px 0px 0px 30px;
text-align: left;
}

#newsletter {
  color: #575757;
  padding: 0px 0px 20px 30px;
  text-align: left;
}

.form-inline {
padding: 20px 0px 0px 30px;
}

.nav-copyright {
font-size: 12px;
}

}